html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.body-index {
  min-width: 320px;
  background-color: #fffefd;
  background-image: url("../img/body-index-bg.jpg");
  background-repeat: repeat-y;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: 'Proxima Nova Re', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }
