@media (max-width: 767px) {
  .pictures-block,
  .navigation-block,
  .page-header__purchases {
    display: none; } }

@media (min-width: 768px) {
  .product-navigation__item:nth-child(8) {
    display: none; }
  .page-header__block-menu {
    display: none; }
  .page-footer__contact--email {
    display: none; }
  .basket {
    display: none; }
  .page-footer__contact {
    display: none; }
  .page-header__shadow-block {
    display: none; }
  .page-body {
    font-size: 14px; }
  .page-header__wrapper {
    background-color: transparent; }
  .page-header__head-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 20px 0 20px; }
  .pictures-block__logo--company {
    padding-left: 12px; }
  .pictures-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .pictures-block__logo {
    display: block;
    width: 100%;
    height: auto; }
  .page-header__navigation-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navigation-block__item {
    padding: 0;
    padding-right: 42px; }
  .navigation-block__link {
    font-size: 18px;
    color: #27282c;
    text-decoration: none; }
    .navigation-block__link--active {
      font-size: 18px; }
  .contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navigation-block__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0; }
  .page-header__purchases {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .page-header__basket {
    display: block;
    width: 100%;
    height: auto; }
  .product-navigation__link {
    font-size: 16px; }
  .page-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 0; }
  .product__wrapper {
    background-color: transparent; }
  .product__pictures {
    width: 270px;
    height: 186px; }
  .product__image {
    display: block;
    width: 270px;
    height: 186px;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .product__content {
    padding-left: 0px;
    padding-right: 0px; }
  .product__description {
    width: auto;
    padding: 15px 0 0 0;
    margin: 0; }
  .navigation-block {
    padding: 0; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .product__name-block {
    display: block;
    width: 100%; }
  .product__list-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
  .product__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product__name {
    max-width: 220px; }
  .product__description {
    max-width: 220px; }
  .product__total {
    margin: 0;
    padding: 0;
    margin: 15px 0; }
  .pictures-block {
    display: none; }
  .page-header__pictures {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navigation-block__item {
    padding-right: 20px; }
  .page-header__navigation-block {
    margin-left: 60px; }
  .navigation-block__down {
    display: none; }
  .product__name-block {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .product-navigation {
    margin: auto; } }

@media (max-width: 1199px) {
  .page-header__city,
  .page-header__contact,
  .benefits,
  .page-header__basket,
  .product__interactive {
    display: none; } }

@media (min-width: 1200px) {
  .product-navigation__item:nth-child(8) {
    display: block; }
  .product-navigation__list {
    padding: 0 20px 0 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-header__head-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-wrapper {
    background-image: url("../img/ornaments__top.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: top; }
  .page-footer {
    background: url("../img/ornaments_bottom.png");
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
            background-size: cover; }
  .page-header__city {
    font-family: 'Proxima Nova Re', sans-serif;
    font-size: 14px;
    color: #515563;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px dotted transparent;
    outline: none;
    padding: 0;
    margin: 0; }
    .page-header__city:after {
      content: '';
      display: block;
      width: 105px;
      height: 1px;
      border-bottom: 1px dashed #515563; }
  .product-navigation {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0; }
  .product-navigation__list {
    padding: 0; }
  .product-navigation__item {
    padding: 0; }
  .product__list-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
  .product__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-left: -40px; }
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    width: -webkit-calc(100% / 4 - 40px);
    width: calc(100% / 4 - 40px);
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 270px;
        -ms-flex: 0 1 270px;
            flex: 0 1 270px;
    height: 430px;
    margin-top: 25px; }
  .product__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
  .product__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .product__description {
    margin-bottom: auto; }
  .product__interactive {
    margin-top: auto;
    margin-bottom: 27px; }
  .product__total {
    padding: 0; }
  .product__name-block {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
    width: 100%; }
  .product__name-text {
    font-family: Proxima Nova B, sans-serif;
    font-size: 30px;
    color: #222328;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  .product__name-text {
    margin: 0;
    padding: 0; }
  .page-footer__wrapper {
    background-image: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 0 20px; }
  .page-footer__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid #efefef; }
  .page-footer__authorship {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0 0 0; }
  .page-footer__copyright {
    display: block;
    width: auto;
    padding: 0;
    text-align: left;
    margin: 0;
    color: #acacac;
    font-size: 16px; }
  .page-footer__developer {
    display: inline-block;
    width: auto;
    text-align: left;
    margin: 0;
    color: #acacac;
    font-size: 16px; }
  .page-footer__developer--link:before {
    display: none; }
  .social-block {
    margin: 0;
    padding: 0; }
  .social-block__logo {
    padding-right: 18px; }
  .contact-block__time {
    color: #aaaaaa; }
  .contact-block__tel {
    font-size: 17.4px;
    font-family: Proxima Nova B, sans-serif; }
  .product-navigation__link {
    font-size: 18px;
    font-family: Proxima Nova B, sans-serif;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .product-navigation__link:hover {
      color: #27282c; }
  .product-navigation__link--active {
    color: #27282c;
    padding: 7px 20px;
    -webkit-border-radius: 25px;
            border-radius: 25px; } }
