@media (max-width: 767px) {
  .pictures-block,
  .navigation-block,
  .page-header__purchases {
    display: none; } }

@media (min-width: 768px) {
  .product-navigation__item:nth-child(8) {
    display: none; }
  .page-header__block-menu {
    display: none; }
  .page-footer__contact--email {
    display: none; }
  .basket {
    display: none; }
  .page-footer__contact {
    display: none; }
  .page-header__shadow-block {
    display: none; }
  .page-body {
    font-size: 14px; }
  .page-header__wrapper {
    background-color: transparent; }
  .page-header__head-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 20px 0 20px; }
  .pictures-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .pictures-block__logo {
    display: block;
    width: 100%;
    height: auto; }
  .page-header__navigation-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navigation-block__item {
    padding: 0 15px; }
  .navigation-block__link {
    font-size: 16px;
    color: #27282c;
    text-decoration: none; }
  .contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navigation-block__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0; }
  .page-header__purchases {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .page-header__basket {
    display: block;
    width: 100%;
    height: auto; }
  .product-navigation__block {
    padding-left: 40px;
    padding-right: 50px; }
  .product-navigation__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .product-navigation__link {
    font-size: 16px; }
  .page-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .product__pictures {
    width: 100%;
    height: 186px; }
  .product__image {
    width: 279px;
    height: 186px;
    -webkit-border-radius: 3%;
            border-radius: 3%; }
  .product__content {
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px; }
  .product__description {
    width: 210px;
    height: 51px;
    padding: 15px 0 0 0;
    margin: 0; }
  .product__total {
    padding-top: 60px; }
  .product__total-fixed {
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px); }
  .navigation-block {
    padding: 0; } }

@media (max-width: 1199px) {
  .page-header__city,
  .page-header__contact,
  .benefits,
  .page-header__basket {
    display: none; } }

@media (min-width: 1200px) {
  .product-navigation__item:nth-child(8) {
    display: block; }
  .product-navigation__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .page-header__head-wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .page-header__city {
    font-family: 'Proxima Nova Re', sans-serif;
    font-size: 14px;
    color: #515563;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px dotted transparent;
    outline: none;
    padding: 0;
    margin: 0; }
    .page-header__city:after {
      content: '';
      display: block;
      width: 105px;
      height: 1px;
      border-bottom: 1px dashed #515563; }
  .product__list-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
  .product__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-left: -40px; }
  .product {
    margin-left: 40px;
    width: -webkit-calc(100% / 4 - 40px);
    width: calc(100% / 4 - 40px);
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 270px;
        -ms-flex: 0 1 270px;
            flex: 0 1 270px; }
  .product__name-block {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 70px; }
  .product__name-text {
    font-family: Proxima Nova B, sans-serif;
    font-size: 30px;
    color: #222328;
    margin: 0;
    padding: 55px 0 20px 0;
    text-transform: uppercase; }
  .page-footer__wrapper {
    background-image: none;
    -webkit-border-radius: none;
            border-radius: none;
    padding: 0 20px; }
  .page-footer__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #efefef; }
  .page-footer__authorship {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 20px 0 20px; }
  .page-footer__copyright {
    display: block;
    width: auto;
    padding: 0;
    text-align: left;
    margin: 0;
    color: #acacac;
    font-size: 16px; }
  .page-footer__developer {
    display: inline-block;
    width: auto;
    text-align: left;
    margin: 0;
    color: #acacac;
    font-size: 16px; }
  .page-footer__developer--link:before {
    display: none; }
  .social-block__logo {
    padding-right: 50px; }
  .product__name-block {
    width: 100%; } }
