@charset "UTF-8";
@media (max-width: 720px) {
  .pictures-block,
  .navigation-block,
  .page-header__purchases {
    display: none; } }

@media (min-width: 0px) and (max-width: 720px) {
  .contact-block {
    display: none; }
  .page-header__city {
    display: none; } }

@media (min-width: 720px) and (max-width: 768px) {
  .page-block__purchases {
    display: none; } }

@media (min-width: 640px) {
  .product-navigation__item:nth-child(8) {
    display: none; }
  .page-header__block-menu {
    display: none; }
  .page-footer__contact--email {
    display: none; }
  .basket {
    display: none; }
  .page-footer__contact {
    display: none; }
  .page-header__shadow-block {
    display: none; }
  .page-body {
    font-size: 14px; }
  .page-header {
    margin-bottom: auto; }
  .page-header__wrapper {
    background-color: transparent; }
  .page-header__head-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 24px 0 0 0; }
  .pictures-block__logo--company {
    padding-left: 0; }
  .pictures-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .pictures-block__logo {
    display: block;
    width: 100%;
    height: auto; }
  .page-header__navigation-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navigation-block__item {
    padding: 0;
    padding-right: 42px; }
  .navigation-block__link {
    font-size: 14px;
    color: #27282c;
    text-decoration: none; }
    .navigation-block__link--active {
      font-size: 18px; }
  .contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navigation-block__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0; }
  .page-header__purchases {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .page-header__basket {
    display: block;
    width: 100%;
    height: auto; }
  .product-navigation__link {
    font-size: 16px; }
  .page-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 0; }
  .product__wrapper {
    background-color: transparent; }
  .product__pictures {
    width: 270px;
    height: 186px; }
  .product__image {
    display: block;
    width: 270px;
    height: 186px;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .product__content {
    padding-left: 0px;
    padding-right: 0px; }
  .product__description {
    width: auto;
    padding: 15px 0 0 0;
    margin: 0; }
  .navigation-block {
    padding: 0; }
  .page-header__city {
    font-family: 'Proxima Nova Re', sans-serif;
    font-size: 14px;
    color: #515563;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px dotted transparent;
    outline: none;
    padding: 0;
    margin: 0; }
    .page-header__city:after {
      content: '';
      display: block;
      width: 105px;
      height: 1px;
      border-bottom: 1px dashed #515563; } }

@media screen and (max-width: 1199px) {
  :root {
    --items: 3; } }

@media screen and (max-width: 900px) {
  :root {
    --items: 2; } }

@media (min-width: 640px) and (max-width: 1200px) {
  .product__list-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto; }
  .product__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-left: -10px; }
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    width: -webkit-calc(100% / var(--items) - 20px);
    width: calc(100% / var(--items) - 20px);
    height: 430px;
    margin-top: 25px; }
  .product__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0 auto; }
  .product__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .product__name {
    max-width: 220px; }
  .product__description {
    max-width: 220px; }
  .product__total {
    margin: 0;
    padding: 0;
    margin: 15px 0; }
  .pictures-block {
    display: none; }
  .page-header__pictures {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navigation-block__item {
    padding-right: 15px; }
  .page-header__navigation-block {
    margin-left: 0; }
  .navigation-block__down {
    display: none; }
  .product__name-block {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .product-navigation {
    margin: auto; }
  .product-navigation__item {
    padding: 0; }
  .pictures-logo__image {
    display: none; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ АКЦИИ */
  .stock-list__wrapper {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .page-header__stock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .navigation-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .navigation-block__list {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .navigation-block__item {
    margin: 0 auto;
    padding-right: 10px; }
  .stock-list__name-block {
    margin-bottom: 25px; }
  .stock-list__content {
    padding: 30px 40px 17px 70px; }
  .stock-list__pictures {
    width: 668px;
    height: 280px;
    margin: 0 auto; }
  .stock-list__image {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 60px;
            border-radius: 60px; }
  .stock-list__description {
    min-width: 650px; }
  .stock-list__title {
    font-family: Proxima Nova B, sans-serif;
    font-size: 23px; }
  .stock-list {
    margin: 0 auto; }
  .navigation-block__down {
    display: none; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ О ПЕКАРНЕ */
  .about-list__pictures {
    height: 335px; }
  .about-list__image {
    width: 720px;
    margin: 0 auto; }
  .about-list__navigation {
    padding-top: 25px;
    font-family: "Proxima Nova Sb", sans-serif;
    font-size: 18px; }
  .about-list__description {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Proxima Nova Sb", sans-serif;
    color: #27282c;
    font-size: 15px;
    text-align: center;
    width: auto;
    border-bottom: 1px solid #eeeeee; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ ДОСТАВКА */
  .delivery-information__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ Контакты */
  .contact-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact-block__reception {
    padding-left: 0;
    text-align: center; }
  .contact-block__addres--wrapper {
    padding-left: 0;
    text-align: center; }
  .contact-block__tel--wrapper {
    padding-left: 0;
    text-align: center; }
  .contact-block__email--wrapper {
    padding-left: 0;
    text-align: center; }
  .contact-block__map {
    top: 0px;
    margin-top: 25px; }
  .page-footer__wrapper {
    -webkit-border-radius: 0;
            border-radius: 0; }
  .contact__social-block {
    padding-top: 15px;
    padding-bottom: 5px; }
  .contact-block__tel {
    display: none; } }

@media (max-width: 1199px) {
  .benefits,
  .contact-block__time {
    display: none; } }

@media (min-width: 1200px) {
  .product-navigation__item:nth-child(8) {
    display: block; }
  .page-header__wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .product-navigation__list {
    padding: 0 20px 0 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .navigation-block__link {
    font-size: 16px; }
  .page-header__head-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
  .page-body__wrapper {
    background-image: url("../img/ornaments__top.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center top;
    margin-bottom: auto; }
  .page-wrapper {
    margin: 0 auto; }
  .page-footer {
    background: url("../img/ornaments_bottom.png");
    background-repeat: no-repeat;
    background-position: 10px;
    -webkit-background-size: cover;
            background-size: cover;
    margin-top: auto; }
  .page-header__city {
    font-family: 'Proxima Nova Re', sans-serif;
    font-size: 14px;
    color: #515563;
    padding: 0;
    margin: 0; }
  .pictures-block__logo--company {
    padding-left: 9px; }
  .product-navigation {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0; }
  .product-navigation__list {
    padding: 0; }
  .product-navigation__item {
    padding: 0; }
  .product__list-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
  .product__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-left: -40px; }
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    width: -webkit-calc(100% / 4 - 40px);
    width: calc(100% / 4 - 40px);
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 270px;
        -ms-flex: 0 1 270px;
            flex: 0 1 270px;
    height: 430px;
    margin-top: 25px; }
  .product__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .product__wrapper:hover {
      -webkit-box-shadow: 20px 10px 65px -15px rgba(0, 0, 0, 0.4);
              box-shadow: 20px 10px 65px -15px rgba(0, 0, 0, 0.4); }
  .product__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .product__description {
    margin-bottom: auto; }
  .product__interactive {
    margin-top: auto;
    margin-bottom: 27px;
    margin-left: 3px;
    margin-right: 3px; }
  .product__total {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-bottom: 10px; }
  .product__price {
    font-size: 24px; }
  .product__name-block {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px; }
  .product__name-text {
    font-family: Proxima Nova B, sans-serif;
    font-size: 30px;
    color: #222328;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  .product__name-text {
    margin: 0;
    padding: 0; }
  .page-footer__wrapper {
    background-image: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 0 20px; }
  .page-footer__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid #efefef; }
  .page-footer__authorship {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0 0 0; }
  .page-footer__copyright {
    display: block;
    width: auto;
    padding: 0;
    text-align: left;
    margin: 0;
    color: #acacac;
    font-size: 16px; }
  .page-footer__developer {
    display: inline-block;
    width: auto;
    text-align: left;
    margin: 0;
    color: #acacac;
    font-size: 16px; }
  .page-footer__developer--link:before {
    display: none; }
  .social-block {
    margin: 0;
    padding: 0; }
  .social-block__logo {
    padding-right: 18px; }
  .contact-block__time {
    color: #aaaaaa; }
  .contact-block__tel {
    font-size: 17.4px;
    font-family: Proxima Nova B, sans-serif;
    cursor: pointer;
    outline: none; }
  .product-navigation__link {
    font-size: 18px;
    font-family: Proxima Nova B, sans-serif;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .product-navigation__link:hover {
      color: #27282c; }
  .product-navigation__link--active {
    color: #27282c;
    padding: 7px 20px;
    -webkit-border-radius: 25px;
            border-radius: 25px; }
  .product__button {
    padding: 6px 23px 6px 23px; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ АКЦИИ */
  .stock-list {
    margin-bottom: 50px; }
  .stock-wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto; }
  .page-header__stock {
    padding: 24px 0 0 0; }
  .navigation-stock__link {
    font-size: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .stock-list__name-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 55px 0 65px 0;
    padding-bottom: 0px; }
  .stock-list__name-text {
    font-size: 32px;
    line-height: 48px;
    color: #27282c;
    text-transform: none; }
  .stock-list__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-image: url("../img/stock__ornaments.png");
    background-repeat: no-repeat;
    background-position: 70% 75%; }
  .stock-list__pictures {
    width: 820px;
    height: 380px; }
  .stock-list__image {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 1, 0.15);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 1, 0.15); }
  .stock-list__content {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 40px;
    padding: 44px 59px 5px 50px;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 6, 0.15);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 6, 0.15);
    background-color: #ffffff; }
  .stock-list__title {
    font-family: Proxima Nova B, sans-serif;
    font-size: 23px;
    max-width: 213px; }
  .stock-list__description {
    font-size: 16px;
    color: #27282c;
    width: 471px;
    padding: 16px 0 0 0; }
  .stock-list__price {
    font-size: 24px;
    padding: 68px 0 0 0; }
  .stock-list__promo {
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 50px 0 0px 0; }
  .navigation-stock__item {
    padding-right: 30px; }
  .social-stock__item {
    padding: 0; }
  .stock-wrapper {
    background-image: url("../img/ornaments-top__stock.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center top; }
  .stock-footer {
    max-width: 1240px;
    width: 100%;
    background-image: none;
    margin: 0 auto; }
  .stock-footer__wrapper {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ О ПЕКАРНЕ */
  .about-header {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0; }
  .about__introduction {
    margin-top: 120px;
    margin-bottom: 160px; }
  .about-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about-list__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
    height: 650px;
    padding: 0 20px; }
  .about-list__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 65px 0 0 0;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 680px; }
  .about-list__slogan {
    font-family: "Proxima Nova Bl", sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    min-width: 490px;
    letter-spacing: normal;
    text-align: left; }
    .about-list__slogan:before, .about-list__slogan:after {
      display: none; }
  .about-list__slogan--copyright {
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px; }
  .about-list__pictures {
    height: 660px;
    position: absolute; }
  .about-list__image {
    -webkit-border-radius: 60px;
            border-radius: 60px; }
  .about-list__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 0 155px 0;
    margin-left: 680px; }
  .about-list__navigation {
    font-family: "Proxima Nova Sb", sans-serif;
    font-size: 20px;
    color: #27282c;
    padding: 0;
    text-align: left; }
  .about-list__description {
    font-family: "Proxima Nova Sb", sans-serif;
    font-size: 20px;
    color: #27282c;
    width: 535px; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ ДОСТАВКА */
  .delivery-information__wrapper {
    margin: 0;
    margin-left: 320px;
    margin-right: 320px; }
  .delivery-information__title {
    font-size: 34px;
    padding-top: 72px;
    text-align: left; }
  .delivery-information__time {
    font-size: 16px;
    width: auto;
    padding-top: 51px; }
  .delivery-information__recommend {
    font-size: 16px;
    width: auto; }
  .delivery-information__price {
    font-size: 16px; }
  .delivery-information__price-item {
    font-size: 16px; }
  .delivery-information__benefits {
    font-size: 16px; }
  .delivery-information__warning {
    margin-top: 125px;
    width: 100%;
    height: 75px; }
  .delivery-information__description {
    font-size: 18px;
    padding: 20px 0 0 20px; }
  .delivery-information__description--warning {
    font-size: 18px; }
  /* СТИЛИ ДЛЯ СТРАНИЦЫ Контакты */
  .contact-body {
    background-image: none; }
  .contact__wrapper {
    background-image: none;
    min-width: 100%; }
  .contact-header {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto; }
  .contact-main__wrapper {
    margin-top: 40px; }
  .contact-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 3;
    width: 450px;
    margin-top: 20px;
    left: 60%; }
  .contact-block__wrapper {
    background-color: #fffefd;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 60px;
            border-radius: 60px; }
  .contact-block__title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding: 60px 0 0 0; }
  .contact-block__reception {
    font-size: 20px;
    line-height: 36px;
    padding: 50px 0 0 70px; }
  .contact-block__mode {
    font-size: 24px;
    line-height: 30px; }
    .contact-block__mode:before {
      content: '';
      display: block;
      background-image: url("../img/clock(1).png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      background-position: center;
      position: absolute;
      left: 30px;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px);
      width: 36px;
      height: 24px; }
  .mobile {
    display: none; }
  .contact-block__addres--wrapper {
    padding: 0 0 0 70px; }
  .contact-block__address {
    font-size: 24px;
    line-height: 30px; }
    .contact-block__address:before {
      content: '';
      display: block;
      background-image: url("../img/clock(2).png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      background-position: center;
      position: absolute;
      width: 36px;
      height: 24px;
      left: 30px;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px); }
  .contact-block__address-item {
    font-size: 20px;
    line-height: 36px; }
  .contact-block__tel--wrapper {
    font-size: 20px;
    line-height: 36px;
    padding: 15px 0 0 70px; }
  .contact-block__mobile {
    font-size: 24px;
    line-height: 30px; }
    .contact-block__mobile:before {
      content: '';
      display: block;
      background-image: url("../img/clock(3).png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      background-position: center;
      position: absolute;
      width: 36px;
      height: 24px;
      left: 30px;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px); }
  .contact-block__email--wrapper {
    font-size: 20px;
    line-height: 36px;
    padding: 30px 0 65px 70px; }
  .contact-block__email {
    font-size: 24px;
    line-height: 30px; }
    .contact-block__email:before {
      content: '';
      display: inline-block;
      background-image: url("../img/clock(4).png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      background-position: center;
      width: 36px;
      height: 24px;
      position: absolute;
      left: 30px;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px); }
  .contact-block__map {
    height: 920px;
    position: static;
    top: 0; }
  .contact-footer {
    display: none; } }
