.page-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-footer__wrapper {
  margin-top: 60px;
  background-image: -webkit-linear-gradient(left, #efbe2c 0%, #e69824 100%);
  background-image: -o-linear-gradient(left, #efbe2c 0%, #e69824 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#efbe2c), to(#e69824));
  background-image: linear-gradient(to right, #efbe2c 0%, #e69824 100%);
  -webkit-border-radius: 40% 40% 0 0 / 60% 60% 40% 40%;
          border-radius: 40% 40% 0 0 / 60% 60% 40% 40%; }

.page-footer__contact {
  font-family: Proxima Nova B, sans-serif;
  font-size: 20px;
  color: #27282c;
  display: block;
  text-align: center;
  padding-top: 50px; }
  .page-footer__contact:nth-child(2) {
    font-size: 18px;
    padding-top: 10px; }

.page-footer__copyright {
  display: block;
  width: 190px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px; }

.page-footer__developer {
  display: block;
  padding-bottom: 10px;
  width: 190px;
  text-align: center;
  margin: 0 auto; }

.page-footer__developer--link {
  color: #27282c;
  text-decoration: none; }
  .page-footer__developer--link:before {
    content: '';
    display: block;
    width: 73px;
    height: 3px;
    border-bottom: 1px solid #c7982b;
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px);
    margin-left: 60px; }
