.page {
  height: 100%; }

.page-wrapper:after {
  content: '';
  display: block; }

.page-footer, .page-wrapper:after {
  height: 10px; }

.page-wrapper {
  min-height: 94%;
  margin-bottom: -10px; }
