.product-navigation {
  padding: 20px 0 20px 0;
  margin-top: 11px;
  overflow: auto; }

.product-navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0; }

.product-navigation__item {
  padding: 0 5px; }

.product-navigation__link {
  font-size: 14px;
  color: #cccccc;
  font-family: Proxima Nova B, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 5px 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .product-navigation__link:hover {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #eee; }

.product-navigation__link--active {
  color: #27282c;
  border: 1px solid #fff;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); }
