.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.product__name-block {
  -webkit-box-shadow: inset 0 6px 7px -7px rgba(0, 0, 0, 0.3), inset 0 -5px 7px -7px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 6px 7px -7px rgba(0, 0, 0, 0.3), inset 0 -5px 7px -7px rgba(0, 0, 0, 0.2); }

.product__name-text {
  font-family: "Proxima Nova Bl", sans-serif;
  font-size: 32px;
  color: #27282c;
  text-align: center;
  margin: 0;
  padding: 18px 0 15px 0; }

.product__wrapper {
  background-color: #fffefd;
  margin-top: 10px; }

.product__name {
  padding-right: 25px; }

.product__image {
  display: block;
  width: 100%;
  height: auto; }

.product__pictures {
  width: 100%; }

.product__content {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 50px; }

.product__name {
  font-size: 18.5px;
  color: #27282c; }
  .product__name--size {
    font-size: 15px;
    color: #aaaaaa; }

.product__description {
  font-size: 15px;
  color: #aaaaaa;
  width: 210px; }

.product__total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px; }

.product__price {
  font-family: Proxima Nova B, sans-serif;
  font-size: 20px;
  color: #27282c; }

.product__button {
  font-family: Proxima Nova B, sans-serif;
  font-size: 14px;
  color: #27282c;
  padding: 5px 15px;
  border: 1px solid #efbe2c;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: none;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
  outline: none; }
  .product__button:hover {
    color: #fff;
    background-color: #efbe2c; }

.product {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px; }
