.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.product__name-block {
  -webkit-box-shadow: inset 0 6px 7px -7px rgba(0, 0, 0, 0.3), inset 0 -5px 7px -7px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 6px 7px -7px rgba(0, 0, 0, 0.3), inset 0 -5px 7px -7px rgba(0, 0, 0, 0.2); }

.product__name-text {
  font-family: "Proxima Nova Bl", sans-serif;
  font-size: 32px;
  color: #27282c;
  text-align: center;
  margin: 0;
  padding: 18px 0 15px 0; }

.product__wrapper {
  background-color: #fffefd;
  margin-top: 15px; }

.product__image {
  display: block;
  width: 100%;
  height: auto; }

.product__pictures {
  width: 100%; }

.product__content {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 50px; }

.product__name {
  font-size: 18.5px;
  color: #222328; }
  .product__name--size {
    font-size: 15px;
    color: #aaaaaa; }

.product__description {
  font-size: 15px;
  color: #aaaaaa;
  width: 210px; }

.product__total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px; }

.product__price {
  display: block;
  font-family: Proxima Nova B, sans-serif;
  font-size: 20px;
  color: #27282c; }

.product__button {
  display: block;
  font-family: Proxima Nova B, sans-serif;
  font-size: 14px;
  color: #27282c;
  padding: 5px 15px;
  border: 1px solid #efbe2c;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  outline: none; }
  .product__button:hover {
    color: #fff;
    background-color: #efbe2c; }

.product {
  padding-bottom: 10px; }

.product__interactive {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-color: #efefef;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  list-style: none;
  /*margin: 52px 0 0 0;*/
  margin: 0;
  padding: 0; }

.product__interactive-list {
  text-align: center;
  font-size: 13px;
  color: #acacac;
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .product__interactive-list--active {
    color: #222328;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(34, 35, 40, 0.8);
            box-shadow: 0px 0px 3px 0px rgba(34, 35, 40, 0.8);
    -webkit-border-radius: 15px;
            border-radius: 15px; }
