html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.body-index {
	min-width: 320px;

	background-color: #fffefd;
	background-image: url('../img/body-index-bg.jpg');
	background-repeat: repeat-y;
	background-size: cover;

	font-family: 'Proxima Nova Re', sans-serif;
	font-size: 14px;

	overflow-x: hidden;

	margin: 0;
	padding: 0;
}