@media (max-width: 767px) {
	.pictures-block,
	.navigation-block, 
	.page-header__purchases {
		display: none;
	}

	.product__image:nth-child(even) {
		display: none;
	}
}

@media (min-width: 768px) {
	.page-header__block-menu {
		display: none;
	}

	.m-header-navigation__item:nth-child(8) {
		display: none;
	}

	.basket {
		display: none;
	}
	
	.page-body {
		font-size: 14px;
	}

	.page-header__wrapper {
		background-color: transparent;
	}

	.page-header__head-wrapper {
		display: flex;
		justify-content: space-between;
		padding-top: 25px;

		padding: 25px 20px 0 20px;
	}

	.page-header__pictures {
		display: flex;
		align-self: center;
		align-items: center;
	}

	.pictures-block__logo {
		display: block;
		width: 100%;
		height: auto;
	}

	.page-header__navigation-block {
		display: flex;
		align-items: center;
	}

	.navigation-block__item {
		padding: 0 15px;
	}

	.navigation-block__link {
		font-size: 16px;
		color: #27282c;

		text-decoration: none;
	}

	.page-header__contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.navigation-block__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		list-style: none;

		margin: 0;
		padding: 0;
	}

	.page-header__purchases {
		display: flex;
		align-self: center;
	}

	.page-header__basket {
		display: block;
		width: 100%;
		height: auto;
	}

	.m-header-navigation__list {
		justify-content: space-around;
	}

	.m-header-navigation__link {
		font-size: 16px;
	}

	.page-header__shadow-block {
		display: none;
	}

	.page-main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		padding: 0 20px;
	}

	.product__pizza {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.product__image:nth-child(odd) {
		display: none;
	}

	.product__content {
		padding-top: 24px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.product__name--fixed {
		width: 230px;
	}

	.product__total {
		align-items: flex-end;
		align-self: flex-end;
		align-content: flex-end;
	}
}

@media (max-width: 1199px) {
	.page-header__city,
	.page-header__contact {
		display: none;

	}
}

@media (min-width: 1200px) {
	.page-header__wrapper {
		padding: 0 20px;
	}

	.pictures-block__logo {
		padding-left: 5px;
	}

	.page-header__city {
		font-family: 'Proxima Nova Re', sans-serif;
		font-size: 14px;
		color: #515563;
		cursor: pointer;
		background: none;
		border: none;
		border-bottom: 1px dotted transparent;

		padding: 0;
		margin: 0;

		&:after {
			content: '';
			display: block;
			width: 105px;
			height: 1px;

			border-bottom: 1px dashed #515563;
		}
	}

	.product__wrapper {
		padding: 0 20px;
	}

	.product__pizza {
		justify-content: flex-start;
	}
}