@import "peremenie.scss";

@media (max-width: 767px) {
	.pictures-block,
	.navigation-block, 
	.page-header__purchases {
		display: none;
	}
}

@media (min-width: 768px) {
	.product-navigation__item:nth-child(8) {
		display: none;
	}

	.page-header__block-menu {
		display: none;
	}

	.page-footer__contact--email {
		display: none;
	}

	.basket {
		display: none;
	}

	.page-footer__contact {
		display: none;
	}

	.page-header__shadow-block {
		display: none;
	}

	.page-body {
		font-size: 14px;
	}

	.page-header__wrapper {
		background-color: transparent;
	}

	.page-header__head-wrapper {
		display: flex;
		justify-content: space-between;

		padding: 24px 20px 0 20px;
	}

	.pictures-block__logo--company {
		padding-left: 12px;
	}

	.pictures-block {
		display: flex;
		align-self: center;
		align-items: center;
	}

	.pictures-block__logo {
		display: block;
		width: 100%;
		height: auto;
	}

	.page-header__navigation-block {
		display: flex;
		align-items: center;
	}

	.navigation-block__item {
		padding: 0;
		padding-right: 42px;
	}

	.navigation-block__link {
		font-size: 18px;
		color: #27282c;

		text-decoration: none;

		&--active {
			font-size: 18px;
		}
	}

	.contact-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.navigation-block__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		list-style: none;

		margin: 0;
		padding: 0;
	}

	.page-header__purchases {
		display: flex;
		align-self: center;
	}

	.page-header__basket {
		display: block;
		width: 100%;
		height: auto;
	}

	.product-navigation__list {
		justify-content: space-around;
	}

	.product-navigation__link {
		font-size: 16px;
	}

	.page-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.product {
		box-shadow: none;
		padding-bottom: 0;
	}

	.product__wrapper {
		background-color: transparent;
	}

	.product__pictures {
		width: 270px;
		height: 186px;
	}

	.product__image {
		display: block;
		width: 270px;
		height: 186px;
		border-radius: 10px;
	}

	.product__content {
		padding-left: 0px;
		padding-right: 0px;
	}

	.product__description {
		width: auto;
		
		padding: 15px 0 0 0;
		margin: 0;
	}

	.product__total {
		padding-top: 60px;
	}

	.product__total-fixed {
		transform: translateY(-20px);
	}

	.navigation-block {
		padding: 0;
	}

}

@media (max-width: 1199px) {
	.page-header__city,
	.page-header__contact,
	.benefits,
	.page-header__basket,
	.product__interactive {
		display: none;
	}
}

@media (min-width: 1200px) {
	.product-navigation__item:nth-child(8) {
		display: block;
	}

	.product-navigation__list {
		padding: 0 20px 0 20px;
		justify-content: space-between;
	}

	.page-header__head-wrapper {
		justify-content: space-between;
	}

	.page-wrapper {
		background-image: url('../img/ornaments__top.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top;
	}

	.page-footer {
		background: url('../img/ornaments_bottom.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
	}

	.page-header__city {
		font-family: 'Proxima Nova Re', sans-serif;
		font-size: 14px;
		color: #515563;
		cursor: pointer;
		background: none;
		border: none;
		border-bottom: 1px dotted transparent;
		outline: none;

		padding: 0;
		margin: 0;

		&:after {
			content: '';
			display: block;
			width: 105px;
			height: 1px;

			border-bottom: 1px dashed #515563;
		}
	}

	.product-navigation {
		margin: 0;
		padding: 10px 0;
	}

	.product-navigation__item {
		padding: 0;
	}

	.product__list-wrapper {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.product__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-basis: 100%;
		margin-left: -40px;
	}

	.product {
		display: flex;
		flex-direction: column;
		margin-left: 40px;
		width: calc(100% / 4 - 40px);
		flex: 0 1 270px;
	}

	.product__lead {
		height: 80px;
	}

	.product__name-block {
		box-shadow: none;
		display: flex;
		margin-top: 75px;
		margin-left: 40px;
		width: 100%;
	}

	.product__name-text {
		font-family: $fonts_bold;
		font-size: 30px;
		color: #222328;

		margin: 0;
		padding: 0;

		text-transform: uppercase;
	}

	.product__name-text {
		margin: 0;
		padding: 0;
	}

	.page-footer__wrapper {
		background-image: none;
		border-radius: 0;
		padding: 0 20px;
	}

	.page-footer__heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 20px;

		border-bottom: 3px solid #efefef;
	}

	.page-footer__authorship {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 40px 0 0 0;

	}

	.page-footer__copyright {
		display: block;
		width: auto;
		padding: 0;
		text-align: left;
		margin: 0;
		color: #acacac;
		font-size: 16px;
	}

	.page-footer__developer {
		display: inline-block;
		width: auto;
		text-align: left;
		margin: 0;
		color: #acacac;
		font-size: 16px;
	}

	.page-footer__developer--link:before {
		display: none;
	}
	
	.social-block {
		margin: 0;
		padding: 0;
	}

	.social-block__logo {
		padding-right: 18px;
	}

	.contact-block__tel {
		font-size: 18.3px;
	}
}
