@import "peremenie.scss";

@media (max-width: 767px) {
	.pictures-block,
	.navigation-block, 
	.page-header__purchases {
		display: none;
	}
}

@media (min-width: 768px) {
	.product-navigation__item:nth-child(8) {
		display: none;
	}

	.page-header__block-menu {
		display: none;
	}

	.page-footer__contact--email {
		display: none;
	}

	.basket {
		display: none;
	}

	.page-footer__contact {
		display: none;
	}

	.page-header__shadow-block {
		display: none;
	}
	
	.page-body {
		font-size: 14px;
	}

	.page-header__wrapper {
		background-color: transparent;
	}

	.page-header__head-wrapper {
		display: flex;
		justify-content: space-between;

		padding: 25px 20px 0 20px;
	}

	.pictures-block {
		display: flex;
		align-self: center;
		align-items: center;
	}

	.pictures-block__logo {
		display: block;
		width: 100%;
		height: auto;
	}

	.page-header__navigation-block {
		display: flex;
		align-items: center;
	}

	.navigation-block__item {
		padding: 0 15px;
	}

	.navigation-block__link {
		font-size: 16px;
		color: #27282c;

		text-decoration: none;
	}

	.contact-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.navigation-block__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		list-style: none;

		margin: 0;
		padding: 0;
	}

	.page-header__purchases {
		display: flex;
		align-self: center;
	}

	.page-header__basket {
		display: block;
		width: 100%;
		height: auto;
	}

	.product-navigation__block {
		padding-left: 20px;
		padding-right: 50px;
	}

	.product-navigation__list {
		justify-content: space-around;
	}

	.product-navigation__link {
		font-size: 16px;
	}

	.page-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.product__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 20px;
	}

	.product__pictures {
		width: 100%;
		height: 186px;
	}

	.product__image {
		width: 279px;
		height: 186px;
		border-radius: 3%;
	}

	.product__content {
		padding-top: 24px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.product__description {
		width: 210px;
		height: 51px;

		padding: 15px 0 0 0;
		margin: 0;
	}

	.product__total {
		padding-top: 60px;
	}

	.product__total-fixed {
		transform: translateY(-20px);
	}

	.navigation-block {
		padding: 0;
	}

}

@media (max-width: 1199px) {
	.page-header__city,
	.page-header__contact,
	.benefits{
		display: none;
	}
}

@media (min-width: 1200px) {
	.product-navigation__item:nth-child(8) {
		display: block;
	}

	.product-navigation__list {
		justify-content: space-around;
	}

	.page-header__head-wrapper {
		justify-content: space-around;
	}
	
	.page-header__city {
		font-family: 'Proxima Nova Re', sans-serif;
		font-size: 14px;
		color: #515563;
		cursor: pointer;
		background: none;
		border: none;
		border-bottom: 1px dotted transparent;
		outline: none;

		padding: 0;
		margin: 0;

		&:after {
			content: '';
			display: block;
			width: 105px;
			height: 1px;

			border-bottom: 1px dashed #515563;
		}
	}

	.product__list {
		justify-content: flex-start;
		flex-basis: 100%;
		flex-wrap: wrap;
	}

	.product__wrapper {
		margin-left: 40px;
		width: 270px;
	}
	
	.product__name-block {
		display: block;
		padding-left: 55px;
		margin-right: auto;
		box-shadow: none;
	}

	.product__name-text {
		font-family: $fonts_bold;
		font-size: 30px;
		color: #222328;

		text-transform: uppercase;
	}

	.page-footer__wrapper {
		background-image: none;
		border-radius: none;
		
		padding: 0 20px;
	}

	.page-footer__heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;

		border-bottom: 3px solid #efefef;
	}

	.page-footer__authorship {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 40px 20px 0 20px;

	}

	.page-footer__copyright {
		display: block;
		width: auto;
		padding: 0;
		text-align: left;
		margin: 0;
	}

	.page-footer__developer {
		display: inline-block;
		width: auto;
		text-align: left;
		margin: 0;
	}

	.page-footer__developer--link:before {
		display: none;
	}
}