@import "peremenie.scss";

.page-footer {
	display: flex;
	flex-direction: column;
}

.page-footer__wrapper {
	margin-top: 60px;

	background-image: -webkit-linear-gradient(left, rgb(239,190,44) 0%, rgb(230,152,36) 100%);
    background-image: -o-linear-gradient(left, rgb(239,190,44) 0%, rgb(230,152,36) 100%);
    background-image: linear-gradient(to right, rgb(239,190,44) 0%, rgb(230,152,36) 100%);
	border-radius: 40% 40% 0 0 / 60% 60% 40% 40%;
}

.page-footer__contact {
	font-family: $fonts_bold;
	font-size: 20px;
	color: #27282c;

	display: block;
	text-align: center;

	padding-top: 50px;

	&:nth-child(2) {
		font-size: 18px;
		padding-top: 10px;
	}
}

.page-footer__copyright {
	display: block;
	width: 190px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page-footer__developer {
	display: block;
	padding-bottom: 10px;
	width: 190px;
	text-align: center;
	margin: 0 auto;
}

.page-footer__developer--link {
	color: #27282c;
	text-decoration: none;

	&:before {
		content: '';
		display: block;
		width: 73px;
		height: 3px;
		border-bottom: 1px solid #c7982b;
		transform: translateY(15px);
		margin-left: 60px;
	}
}