.page,
.page-body,
.stock-body {
	height: 100%;
}

.page-body,
.stock-body {
	display: flex;
	flex-direction: column;
}

.page-main,
.stock-main {
	flex: 1 0 auto;
}

.page-footer,
.stock-footer {
	flex: 0 0 auto;
}