@import "peremenie.scss";

.page_header {
	display: flex;
	flex-direction: column;
}

.page-header__wrapper {
	background-color: #fffefd;
}

.page-header__block-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;

	padding: 18px 18px 0 18px;
}

.m-header-navigation {
	padding: 20px 0 20px 0;
	margin-top: 11px;
	overflow: auto;
}

.m-header-navigation__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;

	list-style: none;
	
	padding: 0;
	margin: 0;
}

.m-header-navigation__item {
	padding: 0 10px;
}

.m-header-navigation__link {
	font-size: 14px;
	color: #cccccc;

	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	
	&:hover {
		border: 1px solid #eee;
		border-radius: 15px; 
		padding: 5px;
		text-align: center;
	}
}

.m-header-navigation__link--active {
	color: #27282c;	
	border: 1px solid #fff;
	border-radius: 15px; 
	padding: 5px;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.page-header__shadow-block {
	box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.3),
	inset 0 -7px 7px -7px rgba(0, 0, 0, 0.3);
}

.page-header__product {
	font-family: $fonts_black;
	font-size: 32px;
	color: #27282c;

	text-align: center;
	
	margin: 0;
	padding: 18px 0 15px 0;
}

