html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page-body {
	min-width: 320px;

	background-image: url('../img/bg-wrapper.png');
	background-repeat: repeat;

	font-family: 'Proxima Nova Re', sans-serif;
	font-size: 14px;

	overflow-x: hidden;

	margin: 0;
	padding: 0;
}