@import "peremenie.scss";

.page_header {
	display: flex;
	flex-direction: column;
}

.page-header__wrapper {
	background-color: #fffefd;
}

.page-header__logo {
	display: block;
	width: 100%;
	height: auto;
}

.navigation-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;

	padding: 18px 18px 0 18px;
}

.page-header__block-menu {
	display: flex;
	align-self: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 20px;
}


