@import "peremenie.scss";

.product__wrapper {
	background-color: #fffefd;

	margin-top: 10px;
}

.product__name {
	padding-right: 25px;
}

.product__pictures {
	width: 100%;
}

.product__content {
	padding-top: 24px;
	padding-left: 25px;
	padding-right: 50px;
}

.product__name {
	font-size: 18.5px;
	color: #27282c;

	&--size {
		font-size: 15px;
		color: #aaaaaa;
	}
}

.product__description {
	font-size: 15px;
	color: #aaaaaa;
	width: 210px;
}

.product__total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product__price {
	font-family: $fonts_bold;
	font-size: 20px;
	color: #27282c;
}

.product__button {
	font-family: $fonts_bold;
	font-size: 14px;
	color: #27282c;

	padding: 5px 15px;

	border: 1px solid #efbe2c;
	border-radius: 15px;
	background: none;

	&:hover {
		color: #fff;
		background-color: #efbe2c;
	}
}

.product-two {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
}
