$fonts_black: 'Proxima Nova Bl', sans-serif;
$fonts_bold: Proxima Nova B, sans-serif;
$fonts_regular: 'Proxima Nova Re', sans-serif;
$fonts__semibold: 'Proxima Nova Sb', sans-serif;
$stack_color: #27282c;